/* ============================
 * == Auto Template Settings ==
 * ============================ */

.tokenmagic.settings .category-list .category {
	font-size: larger;
}

.tokenmagic.settings .category-list details[open] summary {
	margin-bottom: 10px;
}

.tokenmagic.settings .override-entry legend {
	display: inline-flex;
    align-items: center;
    gap: 5px;
}

/* ====================
 * ==== APP Common ====
 * ==================== */ 

 .tokenmagic.application .filter-list {
	flex: 1;
    overflow: hidden auto;
	gap: 5px;
 }

.tokenmagic.application .filter {
	position: relative;
    margin-bottom: 0;
	gap: 8px;
	border-radius: 6px;
    padding: 3px;
    box-shadow: 0 0 3px dimgray;
 	border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: darkgray;
	padding-right: 8px;
}

.tokenmagic.application .filter:hover {
	background-color: #2c2c2c;
}

.tokenmagic.application .filter img {
	flex: 0 0 48px;
	height: 48px;
    width: 48px;
    object-fit: cover;
    object-position: 50% 0;
    border: none;
	border-radius: 5px;
 }

.tokenmagic.application .filter .name {
	line-height: 48px;
	text-shadow: none;
	display: flex;
	flex-direction: column;
    gap: 3px;
 }

 .tokenmagic.application .filter .name > * {
	line-height: 1rem;
 }

 .tokenmagic.application .filter .subtext {
	color: darkorange;
	line-height: 0.6rem;
    font-size: smaller;
 }

.tokenmagic.application .filter .control {
	flex: 0 0 5px;
}

.tokenmagic.application .filter .control.active {
	color: chartreuse;
}

.tokenmagic.application .filter .control.delete {
	color: red;
}

.tokenmagic.application .header {
	text-align: center;
    margin-top: -15px;
    border: 1px solid var(--color-border);
    font-size: x-large;
}

.tokenmagic.application .mod-control {
	font-size: medium;
	color: darkgray;
	flex: 0;
}

.tokenmagic.application .mod-control[disabled] {
	opacity: 0.4;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.tokenmagic.application .mod-control.active {
    color: darkorange;
    background-image: -webkit-linear-gradient(37deg, #04ff00, #00ff66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

/* Header Controls */

.tokenmagic.application .header-controls {
	display: flex;
    justify-content: center;
    gap: 5px;
	font-size: 1.2em;
	margin: -10px 0px 8px 0;
}

.tokenmagic.application .header-controls > a {
	width: 1.5em;
	height: 1.5em;
	border: 1px solid;
	border-radius: 5px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.tokenmagic.application .header-controls > a[disabled] {
	opacity: 0.5;
}

.tokenmagic.application .header-controls .active {
	color: darkorange;
}

/* ====================
 * == Preset Toggler ==
 * ==================== */ 

.tokenmagic.toggler .filter.active {
    border-color: greenyellow;
    border-width: 2px;
}

/* ====================
 * == Filter Editor ===
 * ==================== */ 

.tokenmagic.editor {
	border-color: crimson;
}

.tokenmagic.animate {
	border-color: greenyellow;
}

.tokenmagic.randomize {
	border-color: rgb(255, 47, 210);
}

.tokenmagic.editor fieldset {
	gap: 0.1rem;
}