/* ============================
 * == Auto Template Settings ==
 * ============================ */

.tokenmagic.settings .category-list .category {
	font-size: larger;
}

.tokenmagic.settings .category-list details[open] summary {
	margin-bottom: 10px;
}

.tokenmagic.settings .override-entry legend {
	display: inline-flex;
    align-items: center;
    gap: 5px;
}

/* ====================
 * == Preset Toggler ==
 * ==================== */ 

 
.tokenmagic.toggler .controls {
	display: flex;
    justify-content: center;
    gap: 5px;
	font-size: 1.5em;
    margin-top: 9px;
}

.tokenmagic.toggler .controls {
	display: flex;
    justify-content: center;
    gap: 5px;
	font-size: 1.5em;
    margin-top: 9px;
}

.tokenmagic.toggler .controls > * {
	width: 1.5em;
	height: 1.5em;
	border: 1px solid;
	border-radius: 5px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.tokenmagic.toggler .controls .active {
	color: darkorange;
}

.tokenmagic.toggler .presets {
	max-height: 500px;
	overflow: auto;
	margin-top: 1em;
	display: flex;
    flex-direction: column;
	gap: 5px;
}

.tokenmagic.toggler .preset {
	flex: 0 0 32px;
	display: flex;
	line-height: 1.5em;
    align-items: center;
	border: 1px solid;
	border-radius: 10px;
	cursor: pointer;
}

.tokenmagic.toggler .preset.active {
	color: darkorange;
}

.tokenmagic.toggler .preset:hover {
	background-color: #474747;
}

.tokenmagic.toggler .preset .name {
	font-size: larger;
	display: block;
	text-align: center;
	flex: 1;
}

/* ====================
 * == Filter Editor ===
 * ==================== */ 

 .tokenmagic.selector .filter-list {
	flex: 1;
    overflow: hidden auto;
	gap: 5px;
 }

.tokenmagic.selector .filter {
	position: relative;
    margin-bottom: 0;
	gap: 8px;
	border-radius: 6px;
    padding: 3px;
    box-shadow: 0 0 3px dimgray;
 	border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: darkgray;
}

.tokenmagic.selector .filter img {
	flex: 0 0 48px;
	height: 48px;
    width: 48px;
    object-fit: cover;
    object-position: 50% 0;
    border: none;
	border-radius: 5px;
 }

.tokenmagic.selector .filter .name {
	line-height: 48px;
	text-shadow: none;
 }

 .tokenmagic.selector .filter .type {
	color: darkorange;
	margin-left: 5px;
 }

.tokenmagic.selector .filter .toggle {
	flex: 0 0 5px;
 }

 .tokenmagic.selector .filter .toggle.active {
	color: chartreuse;
 }

.tokenmagic.selector .filter .delete {
	flex: 0 0 5px;
    margin-right: 5px;
	color: red;
}

.tokenmagic.editor {
	border-color: crimson;
}

.tokenmagic.editor .header, .tokenmagic.animate .header {
	text-align: center;
    margin-top: -15px;
    border: 1px solid var(--color-border);
    font-size: x-large;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.tokenmagic.animate {
	border-color: greenyellow;
}

.tokenmagic.editor .animate {
	font-size: medium;
	color: darkgray;
	flex: 0;
    margin-left: 3px;
}

.tokenmagic.editor .animate[disabled] {
	opacity: 0.4;
}

.tokenmagic.editor .animate.active {
    color: darkorange;
    background-image: -webkit-linear-gradient(37deg, #04ff00, #00ff66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}