# IDE
.vs/
.vscode/
.idea/
# Module
tokenmagic.zip
tokenmagic/fx/assets/particles/
foundry.js
dist/*
tokenmagic/packs/*
node_modules/
.parcel-cache/
tokenmagic/module/tokenmagicBundle.js
tokenmagic/module/tokenmagicBundle.js.map